# Project: Exploratory Data Analysis of CO2-Emissions of all registered passenger cars in Germany in 2022

The Regulation (EU) No 2019/631 requires European Countries to record information for each new passenger car registered in its territory. Every year, each Member State shall submit to the Commission all the information related to their new registrations. In particular, the following details are required for each new passenger car registered: manufacturer name, type approval number, type, variant, version, make and commercial name, specific emissions of CO2 (NEDC and WLTP protocols), masses of the vehicle, wheel base, track width, engine capacity and power, fuel type and mode, eco-innovations and electricity consumption.

Under conditions defined by EU law, the WLTP laboratory test is used to measure fuel consumption and CO2 emissions from passenger cars, as well as their pollutant emissions.

** NEDC- New European Driving Cycle (Outdated) \
** WLTP- Worldwide Harmonised Light Vehicle Test Procedure

Understanding the data:

- ID
- Country
- VFN: Vehicle family identification number
- Mp: Manufacturer's Pool
- Mh: Manufacturer name (EU standard denomination)
- Man: Manufacturer name (OEM declaration)
- MMS: Manufacturer name (Member State registry)
- Tan: Type approval number
- T: Type
- Va: Variant
- Ve: Version
- Mk: Make
- Cn: Commercial name
- Ct: Category of the vehicle type-approved
- Cr: Category of the vehicle registered
- r: Total new registrations
- m (kg): Mass in running order
- Mt (kg): WLTP Test Mass
- Enedc (g/km): Specific CO2 Emissions (NEDC value until 31 Dec 2020)
- Ewltp (g/km): Specific CO2 Emissions (WLTP value)
- W (mm): Wheel base
- At1 (mm): Axle width steered axle (Axle 1)
- At2 (mm): Axle width other axle (Axle 2)
- Ft: Fuel type
- Fm: Fuel mode
- ec (cm3): Engine capacity
- ep (kW): Engine power or Maximum Net Power
- z (Wh/km): Electric energy consumption
- IT: Innovative technology code or eco-innovation
- Ernedc (g/km): NEDC CO2 emissions savings due to the eco-innovation(s)
- Erwltp (g/km): WLTP CO2 emissions savings due to the eco-innovation(s)
- De: Deviation factor
- Vf: Verification factor
- Status: Type of vehicle
- year: Registration year
- Date of registration
- Fuel consumption: l/100 km, or m3/100 km or kg/100 km
- Electric range (km)

For detailed information: https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A02019R0631-20230515

## Preliminary cleaning of the raw data and storing it to a MySQL database for further analysis

### 1. Importing the data to a dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
car_data=pd.read_csv('data.csv',low_memory=False)
pd.set_option('display.max_columns', None)

In [3]:
car_data.head()

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,Ve,Mk,Cn,Ct,Cr,r,m (kg),Mt,Enedc (g/km),Ewltp (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),z (Wh/km),IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
0,80049550,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,NFD7FD7CW0094BISTNK4C1A0A,SKODA,KAMIQ,M1,M1,1,1262.0,1398.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2022,2022-10-17,5.9,NaN
1,80049554,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,MFD7FD7CW0094BISTNK3S1A0A,SKODA,KAMIQ,M1,M1,1,1277.0,1393.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-24,5.9,NaN
2,80049559,DE,IP-MQB27SZ_A0_0539-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,NFM6FM6AJ0214BISTNK3C1A0A,SKODA,KAMIQ,M1,M1,1,1242.0,1361.0,NaN,122.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2022,2022-04-29,5.4,NaN
3,80049562,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,NFD7FD7CW0094BISTNH4C1A0A,SKODA,KAMIQ,M1,M1,1,1262.0,1404.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-11,5.9,NaN
4,80049563,DE,IP-MQB27SZ_A0_0539-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,NFM6FM6AJ0214BISTNH4C1A0A,SKODA,KAMIQ,M1,M1,1,1242.0,1378.0,NaN,123.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-10,5.4,NaN

In [4]:
car_data.shape

(2570994, 38)

### 2. Changing the column names to snake case

In [5]:
car_data.columns= [n.lower().replace(' ','_') for n in car_data.columns]
car_data.columns

Index(['id', 'country', 'vfn', 'mp', 'mh', 'man', 'mms', 'tan', 't', 'va',
       've', 'mk', 'cn', 'ct', 'cr', 'r', 'm_(kg)', 'mt', 'enedc_(g/km)',
       'ewltp_(g/km)', 'w_(mm)', 'at1_(mm)', 'at2_(mm)', 'ft', 'fm',
       'ec_(cm3)', 'ep_(kw)', 'z_(wh/km)', 'it', 'ernedc_(g/km)',
       'erwltp_(g/km)', 'de', 'vf', 'status', 'year', 'date_of_registration',
       'fuel_consumption_', 'electric_range_(km)'],
      dtype='object')

### 3. Data Cleaning

- Checking some columns if they are relevant for the anaylsis.

In [6]:
car_data.isna().sum()

id                            0
country                       0
vfn                       18568
mp                       123108
mh                            0
man                           0
mms                     2570994
tan                       18714
t                          1007
va                        12945
ve                        17943
mk                          402
cn                          357
ct                            0
cr                            0
r                             0
m_(kg)                        1
mt                        18004
enedc_(g/km)            2096850
ewltp_(g/km)               6365
w_(mm)                    17279
at1_(mm)                  17230
at2_(mm)                  17232
ft                            0
fm                            0
ec_(cm3)                 470771
ep_(kw)                     484
z_(wh/km)               1753545
it                      1135962
ernedc_(g/km)           2570994
erwltp_(g/km)           1135963
de                      2570994
vf                      2570994
status                        0
year                          0
date_of_registration          0
fuel_consumption_        502431
electric_range_(km)     2239140
dtype: int64

In [7]:
car_data['vfn'].unique() #not related to the analysis

array(['IP-MQB27SZ_A0_0549-TMB-1', 'IP-MQB27SZ_A0_0539-TMB-1',
       'IP-MQB27SZ_B0_0539-TMB-1', ..., 'IP-03_356_0299-ZFA-1',
       'IP-03_356_0262-ZFA-1', 'IP-03_356_0305-ZFA-1'], dtype=object)

In [8]:
car_data['mp'].unique()

array(['VOLKSWAGEN', 'TESLA-HONDA-JLR', nan, 'RENAULT-NISSAN-MITSUBISHI',
       'HYUNDAI MOTOR EUROPE', 'KIA', 'MAZDA-SUBARU-SUZUKI-TOYOTA',
       'STELLANTIS', 'BMW', 'FORD', 'MERCEDES-BENZ'], dtype=object)

In [9]:
car_data['tan'].unique() #doesnt seem to be related to analysis

array(['e8*2007/46*0349*14', 'e8*2007/46*0349*15', 'e8*2007/46*0349*17',
       ..., 'e3*2007/46*0373*34', 'e3*2007/46*0373*27',
       'e3*2007/46*0373*31'], dtype=object)

In [10]:
car_data['t'].unique() #something to do with license plates, can also be dropped

array(['NW', '003', 'AS23P-L', ..., '21541', 'NH', '199'], dtype=object)

In [11]:
car_data['va'].unique()
#i will drop this as I have car name for each model in 'cn' column

array(['ABCDLAAX0', 'Y5LD', 'Y6LR', ..., 'WXP1A', 'WXS12', 'WXM1B'],
      dtype=object)

In [12]:
car_data['ve'].unique() #also dropped

array(['NFD7FD7CW0094BISTNK4C1A0A', 'MFD7FD7CW0094BISTNK3S1A0A',
       'NFM6FM6AJ0214BISTNK3C1A0A', ..., 'NBBA9CE', 'NCAA4CE', 'E25ACM'],
      dtype=object)

In [13]:
car_data['ct'].value_counts() #shows car category type, will be dropped as all are passenger cars

M1     2423832
M1G     147138
N1          20
N1G          2
N2           2
Name: ct, dtype: int64

In [14]:
car_data['cr'].value_counts() #shows car category registered, will be dropped as all are passenger cars

M1     2423974
M1G     147020
Name: cr, dtype: int64

In [15]:
car_data['r'].unique() #needs to be dropped

array([1], dtype=int64)

In [16]:
car_data['ft'].unique()

array(['PETROL', 'ELECTRIC', 'PETROL/ELECTRIC', 'DIESEL', 'LPG', 'E85',
       'NG', 'HYDROGEN', 'NG-BIOMETHANE', 'DIESEL/ELECTRIC'], dtype=object)

In [17]:
car_data['fm'].unique()

array(['M', 'E', 'P', 'H', 'B', 'F'], dtype=object)

In [18]:
car_data['status'].unique() #need to drop this
#value 'P' for passenger car

array(['P'], dtype=object)

In [19]:
car_data['year'].unique()

array([2022], dtype=int64)

- Combining 'enedc_(g/km)' and 'ewltp_(g/km)' into one as 'emissions' and that will be the target column.

- Condition: will take value from 'enedc_(g/km)' only if 'ewltp_(g/km)' is NaN.

In [20]:
car_data['emissions']=np.where(car_data['ewltp_(g/km)'].isna(),car_data['enedc_(g/km)'], car_data['ewltp_(g/km)'])

Dropping the following:
- country: only one value 'DE'
- vfn: not relevant
- mms: entirely filled with NaN's
- tan: not relevant
- va: out of scope
- ve: not relevant
- r: only one value '1'
- de: entirely filled with NaN's
- vf: entirely filled with NaN's
- year: only one value '2022'

In [21]:
clean_car_data=car_data.drop(['country','vfn','mms','tan','va','ve','ct','cr','r','de','vf','status','year'],axis=1)

In [22]:
clean_car_data

,id,mp,mh,man,t,mk,cn,m_(kg),mt,enedc_(g/km),ewltp_(g/km),w_(mm),at1_(mm),at2_(mm),ft,fm,ec_(cm3),ep_(kw),z_(wh/km),it,ernedc_(g/km),erwltp_(g/km),date_of_registration,fuel_consumption_,electric_range_(km),emissions
0,80049550,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1262.0,1398.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-10-17,5.9,NaN,134.0
1,80049554,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1277.0,1393.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-05-24,5.9,NaN,134.0
2,80049559,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1242.0,1361.0,NaN,122.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-04-29,5.4,NaN,122.0
3,80049562,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1262.0,1404.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-05-11,5.9,NaN,134.0
4,80049563,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1242.0,1378.0,NaN,123.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-05-10,5.4,NaN,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570989,79719120,NaN,DUPLICATE,TOYOTA MOTOR EUROPE NV SA,XA5(EU.M),TOYOTA,TOYOTA RAV4,1665.0,1780.0,NaN,131.0,2690.0,1610.0,1640.0,PETROL,H,2487.0,131.0,NaN,NaN,NaN,NaN,2022-08-11,NaN,NaN,131.0
2570990,79898480,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,BC3,HYUNDAI,BAYON,1195.0,1320.0,NaN,124.0,2580.0,1546.0,1552.0,PETROL,M,998.0,74.0,NaN,e5 29 37,NaN,2.17,2022-08-29,NaN,NaN,124.0
2570991,79898481,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,BC3,HYUNDAI,BAYON,1195.0,1320.0,NaN,124.0,2580.0,1546.0,1552.0,PETROL,M,998.0,74.0,NaN,e5 29 37,NaN,2.17,2022-08-29,NaN,NaN,124.0
2570992,79978520,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,PDE,HYUNDAI,I 30,1444.0,1522.0,NaN,139.0,2650.0,1555.0,1563.0,PETROL,H,1482.0,118.0,NaN,NaN,NaN,NaN,2022-04-05,NaN,NaN,139.0
2570993,79987802,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,NX4E,HYUNDAI,TUCSON IX35,1566.0,1625.0,NaN,146.0,2680.0,1615.0,1622.0,PETROL,H,1598.0,110.0,NaN,NaN,NaN,NaN,2022-07-26,NaN,NaN,146.0

- Dropping duplicates

In [23]:
clean_car_data['id'].nunique()

2570994

In [24]:
clean_car_data=clean_car_data.drop_duplicates()
clean_car_data.shape

(2570994, 26)

- Checking whether 'man' and 'mk' are same so one can be dropped

In [25]:
(clean_car_data['man'].str.split(' ').str[0]==clean_car_data['mk']).value_counts()

True     1392431
False    1178563
dtype: int64

There seems to be a vast difference so wont be dropping any of them.

In [26]:
clean_car_data

,id,mp,mh,man,t,mk,cn,m_(kg),mt,enedc_(g/km),ewltp_(g/km),w_(mm),at1_(mm),at2_(mm),ft,fm,ec_(cm3),ep_(kw),z_(wh/km),it,ernedc_(g/km),erwltp_(g/km),date_of_registration,fuel_consumption_,electric_range_(km),emissions
0,80049550,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1262.0,1398.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-10-17,5.9,NaN,134.0
1,80049554,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1277.0,1393.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-05-24,5.9,NaN,134.0
2,80049559,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1242.0,1361.0,NaN,122.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-04-29,5.4,NaN,122.0
3,80049562,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1262.0,1404.0,NaN,134.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-05-11,5.9,NaN,134.0
4,80049563,VOLKSWAGEN,SKODA,SKODA AUTO AS,NW,SKODA,KAMIQ,1242.0,1378.0,NaN,123.0,2639.0,1506.0,1521.0,PETROL,M,999.0,81.0,NaN,NaN,NaN,NaN,2022-05-10,5.4,NaN,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570989,79719120,NaN,DUPLICATE,TOYOTA MOTOR EUROPE NV SA,XA5(EU.M),TOYOTA,TOYOTA RAV4,1665.0,1780.0,NaN,131.0,2690.0,1610.0,1640.0,PETROL,H,2487.0,131.0,NaN,NaN,NaN,NaN,2022-08-11,NaN,NaN,131.0
2570990,79898480,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,BC3,HYUNDAI,BAYON,1195.0,1320.0,NaN,124.0,2580.0,1546.0,1552.0,PETROL,M,998.0,74.0,NaN,e5 29 37,NaN,2.17,2022-08-29,NaN,NaN,124.0
2570991,79898481,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,BC3,HYUNDAI,BAYON,1195.0,1320.0,NaN,124.0,2580.0,1546.0,1552.0,PETROL,M,998.0,74.0,NaN,e5 29 37,NaN,2.17,2022-08-29,NaN,NaN,124.0
2570992,79978520,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,PDE,HYUNDAI,I 30,1444.0,1522.0,NaN,139.0,2650.0,1555.0,1563.0,PETROL,H,1482.0,118.0,NaN,NaN,NaN,NaN,2022-04-05,NaN,NaN,139.0
2570993,79987802,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,NX4E,HYUNDAI,TUCSON IX35,1566.0,1625.0,NaN,146.0,2680.0,1615.0,1622.0,PETROL,H,1598.0,110.0,NaN,NaN,NaN,NaN,2022-07-26,NaN,NaN,146.0

#### This concludes the preliminary cleaning of the car data. This clean data will now be stored in a MySQL database as well as a csv file.

Wont be removing nan's here. nan's will ne dealt with, depending on further anaylsis to build the prediction model from the MySQL data

### 4. Storing the data in a new csv file

In [27]:
clean_car_data.to_csv('clean_car_data.csv',index=False)

### 5. Creating a MySQL database using MySQL Connector

In [28]:
#!pip install mysql-connector-python

In [29]:
#import mysql.connector as connector
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

password=getpass()

········

- Connecting Python to MySQL

In [30]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/cardata'
engine = create_engine(connection_string)

In [31]:
clean_car_data.to_sql('emissions',engine)